In [2]:
import pandas as pd

In [5]:
pd.set_option('display.width', 4000)
pd.set_option('max_colwidth', 4000)
pd.set_option('max_columns', 200)
pd.set_option('max_rows', 200)

In [6]:
dataset = pd.read_csv('Batting (1).csv')

In [7]:
dataset.head()

    playerID nameFirst     nameLast  birthYear  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR   RBI   SB   CS  BB   SO  IBB  HBP  SH  SF  GIDP
0  abercda01     Frank  Abercrombie       1850    1871      1    TRO  NaN   1    4   0   0   0   0   0   0.0  0.0  0.0   0  0.0  NaN  NaN NaN NaN   NaN
1   addybo01       Bob         Addy       1842    1871      1    RC1  NaN  25  118  30  32   6   0   0  13.0  8.0  1.0   4  0.0  NaN  NaN NaN NaN   NaN
2  allisar01       Art      Allison       1849    1871      1    CL1  NaN  29  137  28  40   4   5   0  19.0  3.0  1.0   2  5.0  NaN  NaN NaN NaN   NaN
3  allisdo01      Doug      Allison       1846    1871      1    WS3  NaN  27  133  28  44  10   2   2  27.0  1.0  1.0   0  2.0  NaN  NaN NaN NaN   NaN
4  ansonca01       Cap        Anson       1852    1871      1    RC1  NaN  25  120  29  39  11   3   0  16.0  6.0  2.0   2  1.0  NaN  NaN NaN NaN   NaN

playerID = unique identifier
yearID = year that season happened in
stint = if you have multiple stint values, then it meant that he was traded (should correspond with different teamId)
lgID = league ID
g = Games (# number of appearances)
AB = at bat
R = runs
2B = doubles
3B = triples
HR = homerun
RBI = run batted in
SB = stolen base
CS = caught stealing
BB = ball at base or walk
SO = strike out
IBB = international base on ball
HBP = hit by pitcher
SH = scarifice hit
SF = scarifice fly
GIDP = ground into double play